/* $Id$ */
body {
  font-family: "Microsoft YaHei","Microsoft JhengHei",Helvetica,Arial,sans-serif;
}

a {
  text-decoration:none;
}

a:hover, a:active, a.active {
  color:#CC6600;
  text-decoration:underline;
}

#wrapper {
  width: 960px;
}

#main {
  margin: 10px auto;
  clear: both;
  padding: 5px;
  overflow: hidden;
}

#header {
	height: 100px;
  padding: 0px;
  position:relative;
  text-align: left;
  z-index: 10;
}

/*site menu*/
#header .menu {
  bottom: 0;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#header .menu .site_menu {
  height: 30px;
  float: right;
}

.site_menu_children li {
  width: 100px;
}
/* logo */
#header .logo {
  display:block;
  padding-top: 6px;
  padding-left: 6px;
  float: left;
}

/*footer*/
#footer { 
	clear: both;
	height: 120px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}
