/* $Id$*/
#blog_admin_settings .form_item{
  margin: 5px 0;
  border-bottom:1px dotted #CCCCCC;
  padding: 5px 0;
}
.blog_admin_comment_body{
  border-bottom:1px solid #F5CEB9;
  padding: 10px 0;
}
.blog_admin_comment_date, .blog_admin_comment_status, .blog_admin_comment_type{
  text-align: center;
}
#blog_node_form_type_trackback_list{
  width: 98%;
  height: 120px;
}
.blog_admin_op_link a{
  padding:0 8px;
}
#blog_node_form_title{
  margin: 5px 0;
}
#blog_node_form_type_title{
  height: 22px;
}
.blog_info{
  color: #74767C;
  text-align: right;
}
.blog_content_page{
  overflow: hidden;
}
.blog_pass_form{
  text-align: center;
}
.blog_category{
  text-align:right;
}
.blog_category span{
  margin-right: 5px;
  color: #74767C;
}
.blog_category a{
  padding: 0 4px;
}

#blog_term_list{
  background: url(tpl/list_bg.gif) repeat-x top left;
  border:1px solid #D8D8D8;
  padding: 20px 10px;
  margin: 5px 0;
}

#block_left_blog_new li, #blog_term_list li{
  background: url(tpl/list_li.gif) no-repeat center left;
  padding: 6px 0 6px 18px;
  margin: 0;
  border-bottom:1px dashed #D8D8D8;
}

#blog_term_list .news_date{
  color: #B7ADA0;
  margin-left: 10px;
}
#blog_term_list .news_term{
  color: #625D58;
  margin-right: 5px;
}
.node_date{
  color: #74767C;
}
.blog_menu{
  color: #74767C;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
  margin: 5px 0;
  padding: 5px 0;
}
.blog_menu_next{
  display: block;
  float: left;
}
.blog_menu_prev{
  display: block;
  float: right;
}

.blog_summary{
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.ck_body_break{
  display: none;
}
.blog_comment_header{
  background: #E9F7F6;
  padding: 8px 5px;
}

.blog_comment_view_even .blog_comment_header{
  background: #EDF3DE;
}
.blog_comment_list{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px 0;
}
.blog_comment_list .item_pager{
  overflow: hidden;
}
.blog_comment_list .pager{
  float: right;
}
.blog_comment_form{
  margin: 10px 0;
}
#blog_comment_form_type_body{
  width: 98%;
}