/* $Id$ */

/*site_menu*/
.site_menu {
  height:30px;
  line-height:30px;
}

.site_menu li {
  height: 30px;
  float: left;
  padding: 0;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.site_menu_children li {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: 1px 0;
  height: 22px;
  line-height: 22px;
  float: none;
  display: block;
}

.site_menu_children li.last {
  border-bottom: 1px solid #ccc;
}

.js_menu_level_parent .js_menu_level_one_a span {
	padding-right: 12px;
  background: url(../../../misc/images/spindown-open.gif) right center no-repeat;
}

.js_menu_level_children {
  background: url(../../../misc/images/spindown-closed.gif) right center no-repeat;
}

.js_menu_level_parent .js_menu_level_one_a span {
	padding-right: 12px;
  background: url(../../../misc/images/spindown-open.gif) right center no-repeat;
}

.js_menu_level_children {
  background: url(../../../misc/images/spindown-closed.gif) right center no-repeat;
}


h2.system_no_content {
  text-align: center;
  margin: 12px 0;
}

/*filter*/
#system_admin_format_form label {
  display: block;
}

/*system block*/
#block_system_adminLink .item-list {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border:1px solid #AAAAAA;
  margin-bottom: 10px;
  padding: 5px 3px;
}

#block_system_adminLink .item-list h3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:1px solid #1567B4;
  margin: 2px 0;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: crosshair;
  color: #031729;
  padding: 0;
}

#block_system_adminLink .item_click_op {
	background: url(../../misc/images/arrow-desc.png) right center no-repeat;
	float: right;
	display: block;
	width: 13px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}

#block_system_adminLink .item-list-hide {
  background: url(../../misc/images/arrow-asc.png) right center no-repeat;
}

#block_system_adminLink .item_hover {
  border:1px solid #4076B9;
}

#block_system_adminLink ul {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:1px solid #B4AF8B;
  padding: 2px 3px;
  margin: 4px 0;
}

#block_system_adminLink li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #aaaaaa;
  display: block;
  line-height: 24px;
  width: 100%;
  text-align: center;
  margin: 2px 0;
}

#block_system_adminLink li a:hover {
  border: 1px solid #2E5AAD;
}

#block_system_adminLink li a.active {
  background: #fff;
  border: 1px solid #C1760F;
  text-align: right;
  font-weight: bold; 
}

#admin_custom_add_form {
  text-align: center;
}

#admin_custom_add_form input {
  margin: 2px auto;
  display: block;
  text-align: left;
}

.system_admin_block_link_remove {
  display: block;
  text-align: right;
  color: #8B8986;
  cursor: pointer;
}

.system_admin_block_link_remove_active {
	color: #f00;
}

