/* $Id$ */
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:700px;
	margin:5px 0 5px 0;
}
.markItUpContainer  {
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:5px 0;
	width:690px;
	height:320px;
	clear:both;
	display:block;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFF;
	width:99.9%;
	height:300px;
	margin:5px 0;
	border: 1px solid #ccc;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:16px;
  left:-55px;	
	background:#FFF;
	text-align: center;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}

/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px;
	left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px;
  height:16px;
	background-repeat:no-repeat;
	padding: 0;
	margin: 0;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	width:120px; 
	text-indent: 0;
	padding: 0;
	background: none;
}
.markItUpHeader ul ul .markItUpButton {
  background: none;
  text-align: center;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#000;
}

/* 编辑器按钮 */
.markItUpButton {
	background-image:url(images/icons.png);
	background-repeat: no-repeat;
	margin: 3px;
}
.markItUpButton a{
  text-indent:-10000px;
}
.markItUpButton_h1, .markItUpButton_h2, .markItUpButton_h3,  
.markItUpButton_h4, .markItUpButton_h5, .markItUpButton_h6,
.markItUpButton_p {
	background: none;
	text-indent: none;
	text-align: center;
}
.markItUpButton_h1 a, .markItUpButton_h2 a, .markItUpButton_h3 a,  
.markItUpButton_h4 a, .markItUpButton_h5 a, .markItUpButton_h6 a,
.markItUpButton_p a {
  text-indent: 0;
  font-weight: bold;
}
.markItUpButton_clean {
  background-position:0 -288px;
}
.markItUpButton_strong {
	background-position:0 -304px;
}
.markItUpButton_em{
  background-position:0 -320px;
}
.markItUpButton_u{
  background-position:0 -336px;
}
.markItUpButton_del{
  background-position:0 -352px;
}
.markItUpButton_ol{
  background-position:0 -400px;
}
.markItUpButton_ul{
  background-position:0 -416px;
}
.markItUpButton_a{
  background-position:0 -528px;
}
.markItUpButton_img{
  background-position:0 -576px;
}
.markItUpButton_smiley {
  background-position:0 -640px;
}
.markItUpButton_code{
  background-position:0 -832px;
}
.markItUpButton_preview {
  background-position:0 -1136px;
}
.markItUpButton_blockquote {
  background-position:0 -1152px;
}

/*预览*/
#didaMarkItUpPreview{
  width: 100%;
  height: 100%;
}
#didaMarkItUpPreviewIframe  {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
}
#didaMarkItUpPreviewBody {
  font-size: 12px;
}
/*图片上传*/
#markitup_dialog_wrapper {
	text-align:left;
	display: none;
	background: #fff;
	position: absolute;
	border: 1px solid #D8E3F7;
	border-top: none;
	padding: 20px 10px;
	font-size: 12px;
}
#markitup_file_wrapper .dd_label{
  display:-moz-inline-box;
  display:inline-block;
  width: 70px;
}
#markitup_file_form_field_filepath, #markitup_file_form_field_link,
#markitup_file_form_field_alt, #markitup_file_form_field_title {
  width: 200px;
}
.markitup_file_upload, .markitup_file_button {
	border-top: 1px dotted #122152;
	margin: 5px 0;
	padding: 5px 0;
}
.markitup_file_button {
  text-align: right;
}

/*表情*/
#markitup_smiley_wrapper {
  text-align:left;
  background: #fff;
  position: absolute;
  border: 1px solid #D8E3F7;
  border-top: none;
  padding:0;
  width: 400px;
  font-size: 12px;
}

#markitup_smiley_wrapper .contents{
  overflow-y: auto;
  padding: 5px;
  height: 120px;
}

#markitup_smiley_wrapper .contents img{
  padding: 3px;
  cursor:pointer;
}

#markitup_smiley_wrapper .menu{
	background:#A7B2ED;
	clear:both;
	height:24px;
	line-height:24px;
	padding:0;
}

#markitup_smiley_wrapper .menu a{
  padding: 0 12px;
  float: left;
  height:24px;
  line-height:24px;
}
#markitup_smiley_wrapper .menu a#markitup_smiley_close {
	float: right;
}
#markitup_smiley_wrapper .menu a.active{
  background: #fff;
  color:#215A08;
}